
 <table class="shopping-cart-table table">
    <tr>
        <th class="text-left"><a href="/user/user-profile" class="">Kullanıcı Profilim</a></th>
    </tr>
    <tr>
        <th class="text-left"><a href="/user/orders" class="">Şiparişlerim</a> </th>
        
    </tr>
    <tr>
        <th class="text-left"><a href="/user/comments" class="">Yorumlarım</a> </th>
        
    </tr>
    <tr>
        <th class="text-left"><a href="/user/favorits" class="">Favorilerim</a> </th>
        
    </tr>
    <tr>
        <th class="text-left"><a href="/user/products" class="">Ürünlerim</a> </th>
        
    </tr>
   
    <tr>
        <th class="text-left"><a href="/logout" class="">Çıkış</a> </th>
        
    </tr>  
</table>
