{% load static %}
<div id="intro" class="container-fluid bg-dark padding15">
    <div class="container">
        <div class="row">
            <div class="col-md-10 text-left">
                <h2>Tamamlanan <b class="counter">100</b>  <b>Proje</b></h2>
            </div>

            <div class="col-md-2 text-center">
                <button type="submit" class="btn btn-primary btn-lg margin15 text-uppercase">Linkedin</button>
            </div>
        </div>
    </div>
</div>


<!-- CONTENT START -->
<section id="home-content">

    <div id="home-intro" class="container padding35">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 text-center wow bounceIn">
                        <img alt="" class="img-responsive img-circle" src="{% static 'edura/images/other/corporate.jpg' %}">
                    </div>

                    <div class="col-md-6 wow fadeIn">
                        <h4>Bu Bu Projenin <b>Amacı</b></h4>
                        <p>
                            Bu proje bir e-ticaret sitesi olarak tasarlandı. 
                            Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                            Bu proje python tabanlı django framework ile geliştirildi. 
                            <b>Proje içinde kullanılan</b> yardımcı teknolojiler aşağıdadır. 
                        </p>
                        <ul class="list-unstyled home-list">
                            <li><i class="fa fa-check-circle fa-fw"></i> Django </li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Postgresql</li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Bootstrap </li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Edura Template</li>
                            <li><i class="fa fa-check-circle fa-fw"></i> CKEditor</li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Pillow</li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Whitenoise</li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Gunicorn</li>
                            <li><i class="fa fa-check-circle fa-fw"></i> Heroku</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div id="services-4">
                    <div class="row wow fadeIn">
                        <div class="col-md-12">
                            <h4 class="text-uppercase">Düşünülen <b>Projeler</b></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature wow fadeInUp">
                                <i class="fa fa-bar-chart"></i>
                                <h4 class="text-uppercase">Alışveriş Sekmesi</h4>
                                <p>Alışveriş sekmesi ile genel olarak ürünleri görebilirsiniz.</p>
                            </div>
                            <div class="feature wow fadeInUp">
                                <i class="fa fa-star"></i>
                                <h4 class="text-uppercase">Buluta Yayına Geçme</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                            <div class="feature wow fadeInUp">
                                <i class="fa fa-mobile"></i>
                                <h4 class="text-uppercase">Mobil Dostu Template</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                            <div class="feature wow fadeInUp">
                                <i class="fa fa-rocket"></i>
                                <h4 class="text-uppercase">Bootstrap Powered</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>


    <div id="projects" class="container-fluid bg-gray padding35">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>LATEST <b>PROJECTS</b></h3>
                </div>


                <div id="portfolio-carousel-home" class="owl-carousel">

                    <div class="portfolio-item">
                        <div class="portfolio-top">
                            <img alt="" class="img-responsive" src="{% static 'edura/images/portfolio/portfolio1.jpg' %}">
                            <div class="mask"></div>
                            <span class="portfolio-tag"><i class="fa fa-tag fa-fw"></i> <a href="#">Scripts</a>, <a href="#">Technology</a></span>
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-link fa-fw"></i></a></li>
                            </ul>
                        </div>
                        <span class="portfolio-item-desc"><a href="#">Template Development</a></span>
                    </div>

                    <div class="portfolio-item">
                        <div class="portfolio-top">
                            <img alt="" class="img-responsive" src="{% static 'edura/images/portfolio/portfolio2.jpg' %}">
                            <div class="mask"></div>
                            <span class="portfolio-tag"><i class="fa fa-tag fa-fw"></i> <a href="#">Technology</a></span>
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-link fa-fw"></i></a></li>
                            </ul>
                        </div>
                        <span class="portfolio-item-desc"><a href="#">Website Design</a></span>
                    </div>

                    <div class="portfolio-item">
                        <div class="portfolio-top">
                            <img alt="" class="img-responsive" src="{% static 'edura/images/portfolio/portfolio3.jpg' %}">
                            <div class="mask"></div>
                            <span class="portfolio-tag"><i class="fa fa-tag fa-fw"></i> <a href="#">Scripts</a>, <a href="#">Development</a></span>
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-link fa-fw"></i></a></li>
                            </ul>
                        </div>
                        <span class="portfolio-item-desc"><a href="#">Mobile App</a></span>
                    </div>

                    <div class="portfolio-item">
                        <div class="portfolio-top">
                            <img alt="" class="img-responsive" src="{% static 'edura/images/portfolio/portfolio4.jpg' %}">
                            <div class="mask"></div>
                            <span class="portfolio-tag"><i class="fa fa-tag fa-fw"></i> <a href="#">Web Design</a>, <a href="#">Technology</a></span>
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-link fa-fw"></i></a></li>
                            </ul>
                        </div>
                        <span class="portfolio-item-desc"><a href="#">App Development</a></span>
                    </div>

                    <div class="portfolio-item">
                        <div class="portfolio-top">
                            <img alt="" class="img-responsive" src="{% static 'edura/images/portfolio/portfolio5.jpg' %}">
                            <div class="mask"></div>
                            <span class="portfolio-tag"><i class="fa fa-tag fa-fw"></i> <a href="#">Web Design</a>, <a href="#">Development</a></span>
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-link fa-fw"></i></a></li>
                            </ul>
                        </div>
                        <span class="portfolio-item-desc"><a href="#">Website Optimization</a></span>
                    </div>

                    <div class="portfolio-item">
                        <div class="portfolio-top">
                            <img alt="" class="img-responsive" src="{% static 'edura/images/portfolio/portfolio6.jpg' %}">
                            <div class="mask"></div>
                            <span class="portfolio-tag"><i class="fa fa-tag fa-fw"></i> <a href="#">Technology</a>, <a href="#">Development</a></span>
                            <ul class="list-unstyled list-inline">
                                <li><a href="#"><i class="fa fa-search fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-link fa-fw"></i></a></li>
                            </ul>
                        </div>
                        <span class="portfolio-item-desc"><a href="#">Network Concept</a></span>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div id="testimonials" class="container padding35">
        <div class="row wow fadeIn">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-bold text-center">Son Blog Postu</h4>
                        <div class="space20"></div>
                    </div>

                    <div class="col-md-12">
                        <!-- carousel start -->
                        <div id="blog-carousel-home" class="owl-carousel">


                            <div>
                                <div class="blog-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <a href="#">
                                                <img alt="" class="img-responsive" src="{% static 'edura/images/blog/blog2.jpg' %}">
                                            </a>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="blog-item-inner">
                                                <h4><a href="#">Best site template</a></h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
                                            </div>

                                            <div class="row blog-meta">
                                                <div class="col-xs-6"><i class="fa fa-calendar fa-fw"></i> August, 4th, 2016</div>
                                                <div class="col-xs-6"><i class="fa fa-folder-open fa-fw"></i> Themes</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="blog-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <a href="#">
                                                <img alt="" class="img-responsive" src="{% static 'edura/images/blog/blog3.jpg' %}">
                                            </a>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="blog-item-inner">
                                                <h4><a href="#">Best site template</a></h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
                                            </div>

                                            <div class="row blog-meta">
                                                <div class="col-xs-6"><i class="fa fa-calendar fa-fw"></i> August, 4th, 2016</div>
                                                <div class="col-xs-6"><i class="fa fa-folder-open fa-fw"></i> Themes</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="blog-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <a href="#">
                                                <img alt="" class="img-responsive" src="{% static 'edura/images/blog/blog4.jpg' %}">
                                            </a>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="blog-item-inner">
                                                <h4><a href="#">Best site template</a></h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
                                            </div>

                                            <div class="row blog-meta">
                                                <div class="col-xs-6"><i class="fa fa-calendar fa-fw"></i> August, 4th, 2016</div>
                                                <div class="col-xs-6"><i class="fa fa-folder-open fa-fw"></i> Themes</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- carousel end -->
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-uppercase text-bold text-center">Görüşler</h4>
                        <div class="space20"></div>
                    </div>

                    <div class="col-md-12">
                        <!-- carousel start -->
                        <div id="testimonials-carousel-home" class="owl-carousel">

                            <div class="testimonial">
                                <blockquote>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.</p>
                                    <small>Jabe Doe <span class="pull-right avatar-container"><img alt="" class="img-circle avatar" src="{% static 'edura/images/team/thumb1_40.jpg' %}"></span></small>
                                </blockquote>
                            </div>

                            <div class="testimonial">
                                <blockquote>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.</p>
                                    <small>Sarah Smith <span class="pull-right avatar-container"><img alt="" class="img-circle avatar" src="{% static 'edura/images/team/thumb4_40.jpg' %}"></span></small>
                                </blockquote>
                            </div>

                            <div class="testimonial">
                                <blockquote>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.</p>
                                    <small>John Doe <span class="pull-right avatar-container"><img alt="" class="img-circle avatar" src="{% static 'edura/images/team/thumb8_40.jpg' %}"></span></small>
                                </blockquote>
                            </div>

                        </div>
                        <!-- carousel end -->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="partners" class="container-fluid bg-gray padding35">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase">Bizim <b>Ortaklarımız</b></h3>
                    <div class="space40"></div>
                </div>

                <div class="col-md-12 ">
                    <!-- carousel start -->
                    <div id="partners-gallery" class="owl-carousel">

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/pinterest.png' %}">
                        </div>

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/wordpress.png' %}">
                        </div>

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/pinterest.png' %}">
                        </div>

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/dribbble.png' %}">
                        </div>

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/pinterest.png' %}">
                        </div>

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/wordpress.png' %}">
                        </div>

                        <div class="text-center">
                            <img alt="" src="{% static 'edura/images/partners/pinterest.png' %}">
                        </div>

                    </div>
                    <!-- carousel end -->
                </div>
            </div>
        </div>
    </div>

</section>